@media (width > 400px) {
    .grid-table{
        padding: 5%;
        
    }
}
.header-cell {
    font-weight: bold;
}
.grid-table {
    display: grid;
    overflow-y: scroll;
    padding: 3px;
}
.clientes-table {
    grid-template-columns: 2fr 2fr 1fr;
    padding: 1rem;

}

.tickets-table > div, .clientes-table > div {
    border: 1px solid black;
    text-align: center;
}
.tickets-table {
    padding: 1rem;
    grid-template-columns: 0.2fr 2fr 5fr 0.5fr 1fr;
}
.my-tickets-table { /* Para la tabla de tickets de un cliente */
    gap: 1rem;
    grid-template-columns: 2fr 5fr 1fr 1fr 1fr;
}
.ticket_link {
    color: blue;
}
.ticket_link:hover {
    color:rgb(0, 128, 255);
}